@media (min-width: 800px){
    .header__burger{
        display: none;
    }
}
@media (max-width: 1350px){
    .header{
      &__elemnts-text-black {
        width: 93px;
        height: 36px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #000000;
      }
    }
}
@media (max-width: 799px) {
.header {
    width: 98%;
    &__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
        
        width: 96%;
        height: 44px;
    }

    &__logo {
        margin: 0 auto;
        width: 200px;
        height: 44px;
    }

    &__menu-link {
        text-decoration: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        color: #FFFFFF;
    }
    .header__menu {
        display: none;

        z-index: 2;
        flex-direction: column;
        align-items: center;
        padding: 16px 0px 0px;
        gap: 32px;

        position: absolute;
        width: 80%;
        height: 300px;
        right: 5px;
        top: 70px;

        background: linear-gradient(90deg, #382972 0%, #2E1F6D 20%, #1C0D64 67%, #160661 100%);
    }
      
    .header__menu.show {
       display: block;
    }
      
    .header__menu--list {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: flex-start;
        padding: 0px 16px;
        gap: 16px;

        width: 80%;
        height: 244px;
    }
      
    .header__menu-item {
        display: flex;
        justify-self: center;
        margin-bottom: 10px;
    }
      
    .header__burger {
          display: flex;
          font-size: 1.5em;
          cursor: pointer;
          position: absolute;
          top: 13px;
          right: 30px;
    }
      
    &__button {
        display: none;

    }

    &__left-icon {
        display: none;
    }

    &__elemnts-text-black {
        width: 93px;
        height: 18px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        color: #000000;
    }
    &__elemnts-text-white {
        width: 93px;
        height: 18px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        color: #ffffff;
    }
}

body{
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 64px;
        isolation: isolate;
        
        position: relative;
        width: 100%;
        height: 1540px;

        background: linear-gradient(90deg, #382972 0%, #2E1F6D 20%, #1C0D64 67%, #160661 100%);
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    gap: 80px;

    width: 85%;
    height:auto;
    


    &_banner {
       
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 0px;
        gap: 64px;
        width: 90%;
        height:auto;
    }

    &__banner-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 64px;

        width: 90%;
        height:auto;
    }

    &__text-h1 {
        width: 90%;
        height:auto;
        /* Header/Display 2
        
        32/40 (text-display-2)
        */
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;

        color: rgba(255, 255, 255, 0.8);
    }

    &__text-p {
        width: 85%;
        height:auto;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;

        color: rgba(255, 255, 255, 0.8);
    }

    &__banner-image {
        display: flex;
        flex-direction: row;

        align-items: center;
        padding: 0px;
        isolation: isolate;

        width: 90%;
        height:auto;
    }

    &__big-image {
        width: 90%;
        height:auto;
    }

    &__advantages {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left:0;

        width: 90%;
        height:auto;
    }
    &__advantages-item {
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        align-items: center;

        width: 90%;
        height: auto;


        background: rgba(0, 0, 0, 0.2);
        border-left: 3px solid #FFBE5C;
        backdrop-filter: blur(5px);
        border-radius: 16px;
    }
    &__advantages-item-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;

        width: 90%;
        height: auto;
    }

    &__advantages-ico {
        width: 48px;
        height: 48px;
    }

    &__advantages-top-text {
        width: 80%-50px;
        height: auto;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        flex: none;
        order: 1;
        flex-grow: 1;
        color: #FFBE5C;
    }

    &__advantages-bottom-text {
        width: 80%;
        height: 96px;


        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 24px;

        color: #FFFFFF;
    }

    &__news {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        
        width: 90%;
        height: auto;
    }

    &__news-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 64px;

        width: 90%;
        height: auto;

    }

    &__news-new {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;

        width: 90%;
        height: auto;
    }

    &__news-new-date {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 2px;

        width: 106px;
        height: 36px;
    }

    &__news-new-day {
        width: 46px;
        height: 36px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 36px;
        display: flex;
        align-items: center;

        color: #FFFFFF;
    }

    &__news-new-mounth-year {
        width: 56px;
        height: 24px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        display: flex;
        align-items: center;

        color: rgba(255, 255, 255, 0.6);
    }

    &__news-new-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 25px;

        width: 85%;
        height: auto;
    }

    &__news-new-text-main {
      width: 85%;
      height: 165px;

      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;

      color: rgba(255, 255, 255, 0.6);
    }

    &__news-new-text-more-info {
        width: 90%;
        height: 20px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;

        color: #FFBE5C;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    left:0px;
    width: 96%;
    height: 500px;


    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    &__link {
        text-decoration: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;

        color: #D39E50;
    }

    &__rights {
        width: 250px;
        height: 60px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.5);
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
        width: 280px;
        height: 250px;
    }

    &__list-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;

        width: 280px;
        height: 104px;
    }

    &__list-links-element {
        text-decoration: none;
        width: 280px;
        height: 60px;
    }
}
}
@media (max-width: 400px) {
.content{
    &__advantages-top-text {
        width: 80%-50px;
        height: auto;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 24px;
        flex: none;
        order: 1;
        flex-grow: 1;
        color: #FFBE5C;
    }
    &__advantages-bottom-text {
        width: 80%;
        height: 96px;


        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;

        color: #FFFFFF;
    }
}
}
@media (max-width: 350px) {
.content{
    &__text-h1 {
        width: 90%;
        height:auto;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;

        color: rgba(255, 255, 255, 0.8);
    }
    &__advantages-top-text {
        width: 80%-50px;
        height: auto;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
        flex: none;
        order: 1;
        flex-grow: 1;
        color: #FFBE5C;
    }
    &__advantages-bottom-text {
        width: 80%;
        height: 96px;


        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 17px;

        color: #FFFFFF;
    }
}
}
@media (max-width:1140px) {
    @media (min-width: 800px) {
      .header{
        &__menu{
            width:50%;
        }
        &__menu-item {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 5px 10px;
            margin: auto;
            width: 10%;
            max-width: 250px;
            height: 36px;
            border-radius: 8px;
    
        }
        &__elemnts-text-white {
            width: 100%;
            height: 18px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 5px;
            line-height: 18px;
            color: #ffffff;
        }
        &__menu-link {
            text-decoration: none;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
            line-height: 18px;
            color: #FFFFFF;
        }
      }
      .content{
        &__text-h1 {
            width: 100%;
            height: 160px;
    
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: rgba(255, 255, 255, 0.8);
        }
    
        &__text-p {
            /*  */
    
            width: 100%;
            height: 260px;
    
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 15px;
    
            color: rgba(255, 255, 255, 0.8);
        }
        &__advantages-top-text {
            width: 90%;
            height: 72px;
    
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            flex: none;
            order: 1;
            flex-grow: 1;
            color: #FFBE5C;
        }
        &__advantages-bottom-text {
            width: 95%;
            height: 96px;
    
    
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 13px;
    
            color: #FFFFFF;
        }
      }
      
    }
  }