@media (min-width: 1200px) {
  .header__burger {
    display: none;
  }
}
@media (max-width: 1200px) {
  .header {
    width: 100%;
  }
  .header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    gap: 32px;
    width: 70%;
    height: 44px;
  }
  .header__logo {
    margin: 0 auto;
    width: 200px;
    height: 44px;
  }
  .header__menu-link {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
  }
  .header .header__menu {
    display: none;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    padding: 16px 0px 0px;
    gap: 32px;
    position: absolute;
    width: 80%;
    height: 300px;
    right: 5px;
    top: 70px;
    background: linear-gradient(90deg, #382972 0%, #2E1F6D 20%, #1C0D64 67%, #160661 100%);
  }
  .header .header__menu.show {
    display: block;
  }
  .header .header__menu--list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: flex-start;
    padding: 0px 16px;
    gap: 16px;
    width: 80%;
    height: 244px;
  }
  .header .header__menu-item {
    display: flex;
    justify-self: center;
    margin-bottom: 10px;
  }
  .header .header__burger {
    display: flex;
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    top: 13px;
    right: 30px;
  }
  .header__button {
    display: none;
  }
  .header__left-icon {
    display: none;
  }
  .header__elemnts-text-black {
    width: 93px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
  }
  .header__elemnts-text-white {
    width: 93px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #ffffff;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    isolation: isolate;
    position: relative;
    width: 100%;
    height: 1540px;
    background: linear-gradient(90deg, #382972 0%, #2E1F6D 20%, #1C0D64 67%, #160661 100%);
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    gap: 80px;
    width: 50%;
    height: 1198px;
  }
  .content_banner {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 0px;
    gap: 64px;
    width: 280px;
    height: 1100px;
  }
  .content__banner-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 64px;
    width: 280px;
    height: 1100px;
  }
  .content__text-h1 {
    width: 280px;
    height: 240px;
    /* Header/Display 2
        
        32/40 (text-display-2)
        */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: rgba(255, 255, 255, 0.8);
  }
  .content__text-p {
    width: 280px;
    height: 400px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.8);
  }
  .content__banner-image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    isolation: isolate;
    width: 280px;
    height: 198px;
  }
  .content__big-image {
    width: 280px;
    height: 260px;
  }
  .content__advantages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 280px;
    height: 1200px;
  }
  .content__advantages-item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 24px 24px 32px;
    gap: 24px;
    width: 280px;
    height: 304px;
    background: rgba(0, 0, 0, 0.2);
    border-left: 3px solid #FFBE5C;
    backdrop-filter: blur(5px);
    border-radius: 16px;
  }
  .content__advantages-item-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 255.67px;
    height: 72px;
  }
  .content__advantages-ico {
    width: 48px;
    height: 48px;
  }
  .content__advantages-top-text {
    width: 191.67px;
    height: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    flex: none;
    order: 1;
    flex-grow: 1;
    color: #FFBE5C;
  }
  .content__advantages-bottom-text {
    width: 255.67px;
    height: 96px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
  }
  .content__news {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 280px;
    height: 876px;
  }
  .content__news-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 64px;
    width: 280px;
    height: 384px;
  }
  .content__news-new {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 280px;
    height: 160px;
  }
  .content__news-new-date {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 2px;
    width: 106px;
    height: 36px;
  }
  .content__news-new-day {
    width: 46px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }
  .content__news-new-mounth-year {
    width: 56px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
  }
  .content__news-new-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 25px;
    width: 270px;
    height: 150px;
  }
  .content__news-new-text-main {
    width: 270px;
    height: 80px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.6);
  }
  .content__news-new-text-more-info {
    width: 270px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFBE5C;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    top: 1820px;
    width: 104%;
    height: 150px;
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
  }
  .footer__link {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #D39E50;
  }
  .footer__rights {
    width: 250px;
    height: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
  }
  .footer__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    width: 280px;
    height: 150px;
  }
  .footer__list-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 280px;
    height: 104px;
  }
  .footer__list-links-element {
    text-decoration: none;
    width: 280px;
    height: 60px;
  }
}
