body {
    justify-content: space-around;
    background: url("../../static/img/Cloud.png") no-repeat bottom right,url("../../static/img/bot-grad.png") no-repeat bottom right,linear-gradient(90deg, #382972 0%, #2E1F6D 20%, #1C0D64 67%, #160661 100%);
    font-family: 'Inter', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;   
    margin:0; 
}
.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0px 15px;
    overflow: hidden;
}
.header {
    margin-top: 30px;
    font-size: 13px;
    align-items: center;

    &__inner,
    &__menu--list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 44px;
    }
    &__menu{
        margin-left: 25px;
    }
    &__logo {
        width: 130px;
        height: 44px;
        flex: none;
        order: 0;
        flex-grow: 0;
        display:block;
    }

    &__menu-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px 23px;
        height: 36px;
        border-radius: 8px;
    }

    &__menu-link {
        text-decoration: none;
        color: white
    }

    &__button{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 14px;
        gap: 8px;
        width: 149px;
        height: 36px;
        background: #FFBE5C;
        border-radius: 8px;
    }

    &__left-icon {
        width: 16px;
        height: 16px;
    }

    &__elemnts-text-black,
    &__elemnts-text-white {
        width: 93px;
        height: 18px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-family: 'Inter';
        font-style: normal;
        margin:0;
        font-weight: 400;
        font-size: 13px;

        line-height: 18px;
        color: #000000;
    }

    &__elemnts-text-white {
        color: #ffffff;
        /* White text */
    }
}

.content {
    margin-top: 40px;

    align-items: center;


    &__banner {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 54px;
        margin-bottom: 65px;
    }

    &__banner-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        width: 48%;
    }

    &__text-h1,
    &__text-p {
        width: 100%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        color: rgba(255, 255, 255, 0.8);
    }

    &__text-p {
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
    }

    &__banner-image {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0px;
        isolation: isolate;
        width: 48%;
        max-height: 396px;
    }

    &__big-image {
        width: 100%;
    }

    &__advantages {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 0px;
        margin:0;
        gap: 32px;
        height: 242px;
        margin-bottom:80px;
    }

    &__advantages-item {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 30px 30px 30px 30px;
        width: 30%;
        height: 242px;
        background: rgba(0, 0, 0, 0.2);
        border-left: 3px solid #FFBE5C;
        backdrop-filter: blur(5px);
        border-radius: 16px;
    }

    &__advantages-item-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 16px;
        height: 72px;
    }

    &__advantages-ico {
        padding:0px;
        width: 48px;
        height: 48px;
    }
    &__advantages-top-text{
        width: 90%;
        padding-top:30px;
    }
    &__advantages-top-text,
    &__advantages-bottom-text {
        height: 72px;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        flex: none;
        order: 1;
        flex-grow: 1;
        color: #FFBE5C;
    }

    &__advantages-bottom-text {
        font-weight: 400;
        font-size: 17px;
        line-height: 23px;
        color: #FFFFFF;
    }

    &__news {
        display: flex;
        flex-wrap: wrap;
    }

    &__news-new {
        flex: 1 1 40%;
        display: flex;
        flex-direction: row;
        margin-bottom: 35px;
    }

    &__news-new-text {
        padding-left: 38px;
        padding-right: 40px;
        
    }

    &__news-new-text-main {
        margin: 0;
        height:78px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        margin-bottom:15px;
    }

    &__news-new-date {
        justify-content: top;
        width: 120px;
        align-items: center;
        font-size:20px;

    }

    &__news-new-date>span {
        font-size: 30px;
        vertical-align: middle;
        position: relative;
        top: -2px;
    }
    &__news-new-text-more-info{
        text-decoration: none;
        color: #FFBE5C;
    }

        &__all-news {

            box-sizing: border-box;
    
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 12px 24px;
            gap: 12px;
    
            width: 140px;
            height: 44px;
    
            border: 1px solid rgba(255, 255, 255, 0.15);
            border-radius: 10px;
            background-color: transparent;
            color:white;
            font-size: 15px;
        }
        &__btn-div{
            display:flex;
            justify-content: center;
            align-items: center;
            margin-bottom:65px;
        }
}
.left-grad{
    position:absolute;
    top:100px;
    left: -60px;
}
.top-grad{
    position:absolute;
    top: -1px;
    left: 350px;
}
.footer {
    gap: 10px;
    width: 100%;
    padding: 47px 0;
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(2px);
    bottom:0;
    &__link {
        text-decoration: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #D39E50;
    }

    &__rights {
        width: 682px;
        height: 20px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.5);
        margin: 0;
        margin-top: 16px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;

        margin-left: 0;
    }

    &__list-links {
        list-style-type: none;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
        width: 100%;
        margin: 0 0 3px 0;
    }

    &__list-links-element {
        text-decoration: none;
        width: 421px;
        height: 20px;
    }
}

@media (min-width: 800px) {
    .header__burger {
        display: none;
    }
}

@media( max-width:1419px){
    .bot-grad,
    .cloud,
    .left-grad,
    .top-grad{
        display:none;
    }
      
}
@media (max-width: 800px) {
    .container{
        flex-direction: column;
        align-items: center;
    }
    .header {
        
        z-index: 50;
        height: auto;
        &__inner {
            gap: 32px;
            z-index:12;
        }

        &__logo {
            margin: 0 auto;
            width: 280px;

        }

        &__menu-link {
            font-size: 13px;
        }

        &__menu {
            display: none;
            z-index: 2;
            flex-direction: column;
            align-items: center;
            padding: 30px 0;
            gap: 32px;
            position: absolute;
            width: 100%;
            left: 0px;
            top: 75px;
            bottom:0;
            margin:0;
            background: linear-gradient(90deg, #382972 0%, #2E1F6D 20%, #1C0D64 67%, #160661 100%);
        }

        .header__menu.show {
            display: block;
        }

        .header__menu--list {
            list-style: none;
            display: flex;
            flex-direction: column;
            margin: 0;
            align-items: flex-start;
            padding: 0px 0px;
            padding-bottom: 230px;
            margin-bottom: 100px;
            gap: 16px;
            width: 78%;
            margin-left:10%;
            border-bottom: 2px solid #bcbcbc;
            border-bottom-width: 1px;
        }
        .header__menu-item {
            margin-bottom: 10px;
        }
        &__button
        {
            
            display: none;
            width:(100%-28px);
        }
        .header__button.show{
            z-index: 3;
            position:absolute;
            top: 430px;
            left: 60px;
            display:flex;
        }

        &__elemnts-text-black,
        &__elemnts-text-white {
            font-size: 13px;
        }
        &__hamburger{
            display: block;
            position: absolute;
            top: 35px;
            right: 30px;
            float: left;
            font-size: 55px;
            cursor: pointer;
            &-bar {
                display: block;
                width: 25px;
                height: 3px;
                margin: 5px auto;
                border-radius: 2px;
                transition: all 0.3s ease-in-out;
                background-color: white;
            }
    
    
            &.header__hamburger--active &-bar:nth-child(2) {
                opacity: 0;
            }
    
            &.header__hamburger--active &-bar:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }
    
            &.header__hamburger--active &-bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }

    
        }
        

    }

    .content {
        padding: 0 20px;

        &__banner {
            flex-direction: column-reverse;
            align-items: center;
        }
        &__banner-image{
            width: 100%;
            max-width: 450px;
            height: auto;
        }
        &__banner-text{
            width: 100%;
        }
        &__advantages {
            flex-direction: column;
            height: auto;
            align-items: center;
        }

        &__advantages-item {
            width: 100%;
        }

        &.content__advantages-top-text{
            width: 95%;
        }
        &__news-new {
            flex-basis: 100%;
            display:flex;
            flex-direction: column;
        }
        &__news-new-text{
            padding-top:10px;
            padding-left: 0px;
        }
        &__btn-div{
            margin-bottom:20px;
            margin-top:10px;
        }
    }

    .footer {
        flex-direction: column;


        &__inner {
            margin-left: 20px;
            height: auto;

        }

        &__list-links {
            flex-direction: column;;
            width: 90%;
            height: 104px;
        }

        &__list-links-element {
            height: 60px;
            width:80%
        }
        &__rights{
            width: 90%;
            height: 80px;
        }
    }
}

@media (max-width: 400px) {
    .content {

        &__advantages-top-text,
        &__advantages-bottom-text {
            font-size: 15px;
            /* Adjusted for smaller screens */
        }
    }
}

@media (max-width: 350px) {
    .content {
        &__text-h1 {
            font-size: 25px;
            /* Adjusted for smaller screens */
        }

        &__advantages-top-text,
        &__advantages-bottom-text {
            font-size: 11px;
            /* Adjusted for smaller screens */
        }
    }
}

@media (max-width:1140px) and (min-width: 950px) {
    .header {
        &__menu {
            width: 60%;
        }

        &__menu-item {
            width: 10%;
            display:flex;
        }

        &__menu-link {
            font-size: 11px;
            display:flex;
            justify-content: center;
            text-align: center;
        }
    }

    .content {
        &__advantages-top-text {
            font-size: 22px;
        }

        &__advantages-bottom-text {
            font-size: 16px;
            line-height: 18px;
        }
    }
}
@media (max-width:950px) and (min-width: 800px) {
    .header {
        &__menu {
            width: 60%;
        }

        &__menu-item {
            width: 10%;
            display:flex;
        }

        &__menu-link {
            font-size: 11px;
            display:flex;
            justify-content: center;
            text-align: center;
        }
    }
    .content {
        &__advantages-top-text{
            width: 150px;
        }
        &__advantages-top-text {
            font-size: 16px;
        }

        &__advantages-bottom-text {
            font-size: 15px;
            line-height: 18px;
        }
    }

}