@media (min-width: 801px){
.header {
    margin-top: 30px;
    font-size: 30px;
    width: 90%;
    align-items: center;
    max-width:1600px;
    justify-content: space-around;
    &__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        max-width:1600px;
        height: 44px;
    }
    &__menu{
        width: 90%;
        max-width:1100px;
    }

    &__logo {
        width: 130px;
        height: 44px;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    &__menu--list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width:95%;
        max-width:1100px;
        height: 36px;        
    }

    &__menu-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        margin: auto;
        width: 20%;
        max-width: 250px;
        height: 36px;
        border-radius: 8px;

    }

    &__menu-link {
        text-decoration: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 15px;
        gap: 8px;
        width: 170px;
        height: 36px;
        background: #FFBE5C;
        border-radius: 8px;
    }

    &__left-icon {
        width: 16px;
        height: 16px;
    }

    &__elemnts-text-black {
        width: 100%;
        height: 18px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        color: #000000;
    }
    &__elemnts-text-white {
        width: 100%;
        height: 18px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 18px;
        color: #ffffff;
    }
}

body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 1450px;

        background: linear-gradient(90deg, #382972 0%, #2E1F6D 20%, #1C0D64 67%, #160661 100%);
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;

    width: 90%;
    max-width: 1600px;
    height: 1198px;

    &_banner {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 64px;

        width: 100%;
        max-width: 1600px;
        height: 456px;
    }

    &__banner-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 36px;
        
        width: 48%;
        height: 456px;
    }

    &__text-h1 {
        width: 100%;
        height: 160px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        color: rgba(255, 255, 255, 0.8);
    }

    &__text-p {
        /*  */

        width: 100%;
        height: 260px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;

        color: rgba(255, 255, 255, 0.8);
    }

    &__banner-image {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0px;
        isolation: isolate;

        width: 48%;
        height: 396px;
    }

    &__big-image {
        width: 100%;
    }

    &__advantages {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 0px;
        gap: 32px;

        width: 100%;
        max-width: 1600px;
        height: 242px;
    }
    &__advantages-item {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 22px 22px 30px 30px;
        gap: 0px;

        width: 30%;
        height: 242px;

        background: rgba(0, 0, 0, 0.2);
        border-left: 3px solid #FFBE5C;
        backdrop-filter: blur(5px);
        border-radius: 16px;
    }
    &__advantages-item-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 16px;

        width: 110%;
        height: 72px;
    }

    &__advantages-ico {
        width: 48px;
        height: 48px;
    }

    &__advantages-top-text {
        width: 90%;
        height: 72px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        flex: none;
        order: 1;
        flex-grow: 1;
        color: #FFBE5C;
    }

    &__advantages-bottom-text {
        width: 95%;
        height: 96px;


        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;

        color: #FFFFFF;
    }

    &__news {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 0px;
        gap: 32px;

        width: 100%;
        max-width: 1600px;
        height: 340px;
    }

    &__news-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0px;
        gap: 64px;

        width: 100%;
        height: 116px;
    }

    &__news-new {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: flex-start;
        padding: 0px;
        gap: 32px;

        width: 80%;
        height: 116px;
    }

    &__news-new-date {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 2px;

        width: 106px;
        height: 36px;
    }

    &__news-new-day {
        width: 46px;
        height: 36px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 36px;
        display: flex;
        align-items: center;

        color: #FFFFFF;
    }

    &__news-new-mounth-year {
        width: 56px;
        height: 24px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        display: flex;
        align-items: center;

        color: rgba(255, 255, 255, 0.6);
    }

    &__news-new-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 16px;

        width: 85%;
        height: 120px;
    }

    &__news-new-text-main {
      width: 95%;
      height: 80px;

      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;

      color: rgba(255, 255, 255, 0.6);
    }

    &__news-new-text-more-info {
        width: 95%;
        height: 20px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;

        color: #FFBE5C;
    }
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom:20px;
    gap: 10px;

    width: 100%;
    height: 200px;
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(2px);

    &__link {
        text-decoration: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;

        color: #D39E50;
    }

    &__rights {
        width: 682px;
        height: 20px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;

        color: rgba(255, 255, 255, 0.5);
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;
        gap: 6px;
        margin-left: 0;
        
        width:95%;
        max-width: 1600px;
        height: 56px;
    }

    &__list-links {
        list-style-type:  none;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;

        width: 100%;
        height: 20px;
    }

    &__list-links-element {
        text-decoration: none;
        width: 421px;
        height: 20px;
    }
}
}
